{% extends 'base.html.twig' %}

{% block body %}
    <h3>Registry data base</h3>

    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if 'ROLE_ADMIN' not in user.roles %}
                <tr>
                    <td><a href="{{ path('admin_show', { 'slug': user.slug }) }}">{{ user.name  }} {{ user.surname }}</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('support_new') }}">Create a new entry</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
