.jumbotron {
    background-color: #fff;
    margin-bottom: 0;
    padding-top: calc(var(--jumbotron-padding-y) * 2);
}

.admin {
    font-size: medium;
}

.breadcrumb {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6 !important;
}